{% block content -%}
<div class="col-sm-3 mt-3">
  <div class="card">
    <h4 class="card-header">Farge</h4>
    <div class="card-body">
      <div class="form-group">
        <label for="mode">Mode</label>
        <select class="custom-select" id="mode">
          <option value="OFF">Off</option>
          <optgroup label="Mode">
            <option value=solid>Solid</option>
            <option value="strand">Strand</option>
            <option value="noice">Noise</option>
          </optgroup>
        </select>
      </div>
      <label for="colorpicker" class="colorpicker">Color</label>
      <input type="text" id="colorpicker">
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {

    $(function () {
      var mode = "{{ color.mode }}";
      var rgb = "{{ color.rgb }}";
      $('#mode').change(function () {
        mode = $(this).val();
        if (mode.localeCompare("OFF") == 0) {
          $(".colorpicker").hide();
          $("#colorpicker").spectrum("container").hide();
        } else {
          $(".colorpicker").show();
          $("#colorpicker").spectrum("container").show();
        }
        send(mode, rgb);
      });

      $("#colorpicker").spectrum({
        flat: true,
        showInput: false,
        color: "{{ color.rgb }}",
        showButtons: false
      })
      $("#colorpicker").on("dragstop.spectrum", function (e, color) {
        rgb = color.toRgbString();
        console.log(rgb);
        send(mode, rgb);
      });
      $(".colorpicker").hide();
      $("#colorpicker").spectrum("container").hide();

    });

    function send(newMode, newRgb) {
      $.ajax({
        type: 'POST',
        url: '/color/picker',
        data: {
          'mode': newMode,
          'color': newRgb,
        },
        success: function (msg) {

        }

      });
    }


  }
  );
</script> {%- endblock content %}