
<div class="col-12 col-lg-3 mt-3">
  <a href='forecast' class="card">
    <h4 class="card-header">Vær</h4>
    <div class="card-body">
      <img src="/static/images/weatherIcons/{{ weather.symbol }}.png">
      <table class="table">
        <tbody id="weatherTable">
          <tr>
            <td>Temperatur</td>
            <td class="text-right" id="tempData">{{ weather.temp }}&degC</td>
          </tr>
          <tr>
            <td>Nedbør</td>
            <td class="text-right" id="perciData">{{ weather.precipitation }} mm</td>
          </tr>
          <tr>
            <td>Vind</td>
            <td class="text-right" id="windData"> {{ weather.windSpeed }}m/s fra {{ weather.windDir }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </a>    
</div>

