{% block content -%}
<div class="col-12 col-lg-3 mt-3">
<div class="card">
  <h4 class="card-header">Fremtidsvarsel</h4>
  <div class="card-body">
    <div class="table-responsive" style="overflow:auto">
      <table class="table" id="weatherForcastTable">
        <thead>
          <th>Tid</th>
          <th>Symbol</th>
          <th>Temp</th>
          <th>Nedbør</th>
          <th>Vind</th>
        </thead>
        <tbody>
          {% for item in forecast %}
          <tr>
              <td>
                {{ item.time }}
              </td>
              <td>
                <img src="/static/images/weatherIcons/{{ item.symbol }}.png" style="width: 25px">
              </td>
              <td>
                {{ item.temp }}&degC
              </td>
              <td>
                {{ item.precipitation }} mm
              </td>
              <td>
                {{ item.windSpeed }} m/s
              </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{%- endblock content %}