{% extends "layout.html" %} {% block div %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 mt-2">
      <div class="card">
        <h4 class="card-header">Vær</h4>
        <div class="card-body">
          <img src="" id="weathericon">
          <table class="table">
            <tbody id="weatherTable">
              <tr>
                <td>Temperatur</td>
                <td class="text-right" id="tempData"></td>
              </tr>
              <tr>
                <td>Nedbør</td>
                <td class="text-right" id="perciData"></td>
              </tr>
              <tr>
                <td>Vind</td>
                <td class="text-right" id="windData"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 mt-2">
      <div class="card">
        <h4 class="card-header">Hei Bjarne</h4>
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}